<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066676033089-q1c9kre1h2r6a408mroctm7qk6sgbou1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066676033089-q1c9kre1h2r6a408mroctm7qk6sgbou1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066676033089-tj53qo3ipqk7lme1fs05n7e4hnsi99ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtQOCRBo7jqZv4dccEx4AZQ8qjdDHVmDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1066676033089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iiirobotics.pgmart</string>
	<key>PROJECT_ID</key>
	<string>pg-mart-ac9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-mart-ac9fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066676033089:ios:f0d441b2a1bb97285b98c0</string>
</dict>
</plist>